body
    /*background #EFEFEF*/
    background #EFEFEF
    font-size 16px
    font-family Arial

figure
    background #EFEFEF
    border-radius 5px
    text-align center
    padding 20px

h1
    font-family 'Oswald' sans-serif
    font-size 3.5em
    color #2C6E9B
    margin 20px 50px 0 50px

h2
   font-family 'Oswald' sans-serif
   font-size 1.5em
   color #ff3d00
   margin 5px 50px

header
     background #E8E8E8
     padding 0.5em
     /*border-bottom 5px solid #000*/


nav
    /*border 1px solid #000*/
    margin 10px 50px

nav ul.menu li
    display inline-block
    font-size 1.3em
    margin-left 15px

ul.menu li a
    color #444
    text-decoration none


section
    margin-top 3px
    text-align center


.logo, .menuprincipal
     display inline-block
     vertical-align top

.menuprincipal
    margin-left 100px